@import "./null.css";
@import "./stylesPages/About.css";
@import "./stylesPages/Main.css";
@import "./stylesPages/Contacts.css";
@import "./stylesPages/apps/ColorGame.css";
@import "./stylesPages/apps/HangMan.css";

body{
    background-color: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center; */
}
.root{
    display: flex;
    justify-content: center;
    overflow-x:auto;
}