.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    color: white;
}

.request{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 800px;
}
.input{
    background-color: rgb(81, 81, 81);
    color: white;
    padding: 5px;
    border-radius: 7px;
    border: 0;
    width: 300px;
    padding-right: 45px;
}

.action_btn{
    position: absolute;
    right: 5px;
    background-color: rgb(64, 64, 64);
    border-radius: 20px;
    border: none;
}

.result_block{

}

.result_text{
    padding: 5px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
}

.text_bot{
    background-color: rgb(43, 43, 43);
}

.text_user{
    background-color: rgb(81, 81, 81);
}

